.header-bg {
    background-color: rgb(96, 34, 135)
}

.fix-bg {
    transition: background 0.5s ease-in-out;
    background-color: #033ed3da
}

.blue-hr {
    border: 2px solid blue;
    opacity: 1;
}