@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable-static-display');

body {
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    font-family: 'Segoe UI Variable Static Small', sans-serif;
    font-family: 'Segoe UI Variable Static Text', sans-serif;
    overflow-x: hidden
}

.header-bg {
    background-color: rgb(96, 34, 135);
}

.header_shadow {
    box-shadow: 0 4px 20px #421e7b;
    z-index: 1;

}

.fix-bg {
    transition: background 0.5s ease-in-out;
    background-color: #033ed3da
}

.blue-hr {
    border: 2px solid blue;
    opacity: 1;
}


.custom_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contact_btn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    padding: 12px 35px 12px 35px;
    transition: color 0.3s, background-color 0.3s;
    /* Adding smooth transition */
}

.contact_btn:hover {
    color: #FFFFFF;
    background-color: #000000;
}